/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
  margin-right: 5px;           /* задаем отступ от кнопки справа */
  margin-top: 5px;             /* задаем отступ от кнопки сверху*/
  width: 50px;                 /* задаем ширину кнопки */
  height: 50px;                /* задаем высоту кнопки */
  border-radius: 50%;          /* округляем кнопку */
  border: none;                /* отключаем обводку */
  background: #000000;         /* кофейный цвет вместо серого */
  color: rgb(255, 255, 255);                /* задаем белый цвет текста внутри кнопки */
  font-size: 1.5rem;           /* увеличим размер шрифта */
  font-family: Arial, Helvetica, sans-serif; /* сменим шрифт */
  cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                  со стрелки на 'указательный палец' */
  user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
} 

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
  background: #d6f71c; 
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
  filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary { 
  background: #4d4c4c; 
  color: rgb(255, 255, 255);
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary { 
  background: #9e9e9e; 
  color: rgb(0, 0, 0);
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute { 
  width: 110px;          
  border-radius: 34px;   
}

/* селектор для кнопки GitHub */
.my-btn.github {
  width: 290px;        
  max-width: 100%;
  border-radius: 30px;   
  background: rgb(245, 186, 26);  
  color: #000000;        
  font-weight: bold;
  margin-left: 0;        
  margin-right: 0;       
}

/* селектор для поля вывода результата */
.result { 
  border-radius: 15px;
  width: 275px;
  height: 50px;
  margin-bottom: 15px;         /* отступ снизу */
  padding-right: 10px;         /* выступ справа */
  background: rgb(245, 186, 26); 
  text-align: right;           /* примагнитим текст к правой стороне */
  color: #000000;              
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.centered-details {
  margin: 0 auto;
  display: block;
  width: fit-content;
  text-align: left; 
}