/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
    margin-right: 5px;           /* задаем отступ от кнопки справа */
    margin-top: 5px;             /* задаем отступ от кнопки сверху*/
    width: 50px;                 /* задаем ширину кнопки */
    height: 50px;                /* задаем высоту кнопки */
    border-radius: 50%;          /* округляем кнопку */
    border: none;                /* отключаем обводку */
    background: #6F4E37;         /* кофейный цвет вместо серого */
    color: white;                /* задаем белый цвет текста внутри кнопки */
    font-size: 1.5rem;           /* увеличим размер шрифта */
    font-family: Arial, Helvetica, sans-serif; /* сменим шрифт */
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
  } 
  
  /* hover - это состояние элемента, когда на него наведен курсор */
  .my-btn:hover {
    background: #8B4513; 
  }
  
  /* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
  .my-btn:active {
    filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
  }
  
  /* селектор для кнопок первостепенных операций */
  .my-btn.primary { 
    background: #A1887F; 
  }
  
  /* селектор для кнопок второстепенных операций */
  .my-btn.secondary { 
    background: #5D4037; 
  }
  
  /* селектор для кнопки GitHub */
  .my-btn.github {
    background: #5D4037; 
    color: #FFD700;     
  }
  
  /* селектор для кнопки расчета выражения (=) */
  .my-btn.execute { 
    width: 110px;          /* сделаем кнопку шире других */
    border-radius: 34px;   /* подкорректируем округлость */
  }
  
  /* селектор для кнопки GitHub  */
  .my-btn.full-width {
    width: 220px;          /* растягиваем на всю ширину экрана */
    max-width: 100%;
    border-radius: 30px;   
    background: #2E1B14;   
    color: #FFD700;        
    font-weight: bold;
    margin-left: 0;        
    margin-right: 0;      
  }
  
  /* селектор для поля вывода результата */
  .result { 
    border-radius: 15px;
    width: 220px;
    height: 50px;
    margin-bottom: 15px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    background: rgb(47, 27, 20); /* очень тёмный кофейный вместо серого */
    text-align: right;           /* примагнитим текст к правой стороне */
    color: #ffffff;              /* цвет текста белый */
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    background-color: #e0d9b2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

  .centered-details {
    margin: 0 auto;
    display: block;
    width: fit-content;
    text-align: left; 
  }